html, body {
  overflow: hidden;
  cursor: default;
  margin: 10px 10px;
  padding-top: 20px;
  height: 100%;
}

#load {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.atom-spinner, .atom-spinner * {
  box-sizing: border-box;
}
.atom-spinner {
  height: 300px;
  width: 300px;
  overflow: hidden;
}
.atom-spinner .spinner-inner {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
.atom-spinner .spinner-circle {
  display: block;
  position: absolute;
  color: #e10072;
  font-size: calc(60px * 0.24);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.atom-spinner .spinner-line {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-duration: 1s;
  border-left-width: calc(60px / 25);
  border-top-width: calc(60px / 25);
  border-left-color: #e10072;
  border-left-style: solid;
  border-top-style: solid;
  border-top-color: transparent;
}
.atom-spinner .spinner-line:nth-child(1) {
  animation: atom-spinner-animation-1 1s linear infinite;
  transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}
.atom-spinner .spinner-line:nth-child(2) {
  animation: atom-spinner-animation-2 1s linear infinite;
  transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}
.atom-spinner .spinner-line:nth-child(3) {
  animation: atom-spinner-animation-3 1s linear infinite;
  transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}
@keyframes atom-spinner-animation-1 {
  100% {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}
@keyframes atom-spinner-animation-2 {
  100% {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}
@keyframes atom-spinner-animation-3 {
  100% {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}


ul.header {
  z-index: 2;
  position:fixed;
  top:0;
  left:0;
}

.SaveAndLoad {
  z-index: 1;
  position:fixed;
  right:20px;
}

.BackGroundMovie{
  position: fixed;
  z-index: -1;
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}
.BackGroundMovie::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.85);
/*  ドットフィルター  */
/*  background-image: radial-gradient(#111 30%, transparent 31%), radial-gradient(#111 30%, transparent 31%);  */
/*  background-size: 4px 4px;  */
/*  background-position: 0 0, 2px 2px;  */
}
video {
  min-width: 100%;
  min-height: 100vh;
  position: absolute;
}
@media (aspect-ratio: 16/9) {
  video {
    top: 0% !important;
  }
}
@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-aspect-ratio: 16/9) {
  video {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.tabs {
  background-color: rgba(255, 255, 255, 0.8);
}
.tabs .tab a {
  color: rgba(255, 102, 153, 0.7);
/*  #FF6699  */
}
.tabs .tab a:hover, .tabs .tab a.active {
  color: #FF6699;
}
.tabs .indicator {
  background-color: #FF6699;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
th#right {
  text-align: right;
}

td {
  text-align: center;
  padding: 2px 0px 2px 0px;
  height: 30px;
}
td.textright {
  text-align: right;
  padding-right: 12px;
}
td.textleft {
  text-align: left;
  padding-left: 12px;
}

td img.icon {
  height: 50px;
}

img.miniicon {
  text-align: center;
  height: 40px;
}

.noUiSlider {
  z-index: 0;
  margin: 0px 0px 0px 0px;
  width: 90%;
}

.input-field {
  margin-top: auto;
  margin-bottom: auto;
}

.Hide {
  display: none;
}



iframe {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 100vw; /* 横幅に合わせる */
  height: 56.25vw; /* 16:9のアスペクト比 */
}

@media (aspect-ratio: 16/9) {
  iframe {
    top: 0% !important;
  }
}

@media (min-aspect-ratio: 16/9) {
  iframe {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-aspect-ratio: 16/9) {
  iframe {
    width: 100vw;
    height: 56.25vw;
    left: 50%;
    transform: translateX(-50%);
  }
}